<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <!-- lib -->
    <link href="../wwwroot/lib/css/bootstrap.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>

    <!-- auth-service -->
    <script src="../app/auth-service/auth-service.module.js"></script>
    <script src="../app/auth-service/auth-service.factory.js"></script>
</head>
<body ng-app="loginModule">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <div ng-controller="loginCtrl">
                    <div class="form-group">
                        <label>Kullanıcı Adı</label>
                        <input type="text" value="" class="form-control" ng-model="userName" />
                    </div>
                    <div class="form-group">
                        <label>Şifre</label>
                        <input type="password" value="" class="form-control" ng-model="password" />
                    </div>
                    <button type="button" ng-click="signIn()" class="btn btn-primary">Giriş Yap</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = angular.module("loginModule", ["authServiceModule"]);

        app.controller("loginCtrl", function ($scope, $http, authService) {
            if (authService.isAuthenticated())
                location.href = "/views/index.html";

            $scope.userName = "defuser";
            $scope.password = "123Qw.";

            $scope.signIn = function () {
                $http({
                    url: "http://localhost:49913/api/token",
                    method: "post",
                    headers: {
                        "Content-Type": "application/json" //istek mutlaka application/json olmalı. defaultta öyle ayarlı çünkü
                    },
                    data: {
                        UserName: $scope.userName,
                        Password: $scope.password
                    }
                }).then((res) => {
                    authService.setCookie({
                        token: res.data.token,
                        userId: res.data.userId
                    });

                    location.href = "/views/index.html";
                });
            }
        });
    </script>
</body>
</html>