@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kullanıcılar</h2>

<a href="/admin/user/add" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Kullanıcı Ekle</a>